<%  
  system "git pull origin master"
%>

<html>
  <head>
    <script type="text/javascript">
      <!--
      function delayer(){
          window.location = "http://blog.bmjones.com"
      }
      //-->
    </script>
  </head>

  <body onLoad="setTimeout('delayer()', 3000)">
    <h2>Successful! Prepare to be redirected!</h2>
    <p>Redirecting you back to the home page!</p>
  </body>

</html>
