<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
    <div id="header">
        <span>
          <a href="/">blog.bmjones.com</a>
        </span>
        <ul>
          <li><a href="/about">{about}</a></li>
          <li><a href="https://github.com/ot-brett-jones">{github}</a></li>
          <li><a href="http://twitter.com/brettof86">{@brettof86}</a></li>
        </ul>
      </div>
    <div id="blog_name">
      <h1>grep mind</h1>
    </div>
    <section>
      <%= yield %> 
    </section>
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>

